{###}
{# Blocks WIDGETS des formulaires #}
{##}

{#% extends "form_div_layout.html.twig" %#}

{% block olix_switch_widget %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endblock olix_switch_widget %}


{% block olix_datepicker_widget %}
    <div class="input-group date" id="{{ id }}_datepicker" style="width:200px;">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
{% endblock olix_datepicker_widget %}


{% block olix_timepicker_widget %}
    <div class="input-group date" id="{{ id }}_datepicker" style="width:200px;">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
    </div>
{% endblock olix_timepicker_widget %}


{% block olix_datetimepicker_widget %}
    <div class="input-group date" id="{{ id }}_datepicker" style="width:250px;">
        {{- block('form_widget_simple') -}}
        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
    </div>
{% endblock olix_datetimepicker_widget %}


{% block olix_select2_hidden_row %}
    {{ block('form_row') }}
{% endblock %}


{% block olix_collection_widget %}
    {% if prototype is defined %}
        {% set item = prototype %}
        {%- set attr = attr|merge({'data-prototype': block('olix_collection_item') }) -%}
    {% endif %}
    {% set attr = attr|merge({'class': 'olix-collection'}) %}
    <div {{ block('widget_container_attributes') }}>
        <div class="collection">
        {% for item in form %}
            {{ block('olix_collection_item') }}
        {% endfor %}
        </div>
        {% if allow_add %}
            <div class="actions">
                <a class="btn btn-sm btn-primary insert" title="Ajouter"><i class="fa fa-plus"></i></a>
            </div>
        {% endif %}
    </div>
{% endblock olix_collection_widget %}

{% block olix_collection_item %}
    <div class="{% if sortable %}sortable{% endif %}">
        <fieldset class="olix-collection-item">
            {{ form_widget(item) }}
            {{ form_errors(item) }}
            {% if allow_delete %}
                <div class="actions">
                    <a class="btn btn-sm btn-danger delete" title="Enlever"><i class="fa fa-times"></i></a>
                </div>
            {% endif %}
        </fieldset>
    </div>
{% endblock olix_collection_item %}
